.TrackList {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TrackList h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.TrackList p {
    color: #555;
    font-size: 1.1rem;
}

.TrackList > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 768px) {
    .TrackList {
        padding: 0.5rem;
    }
}
